<div class="container">
  <ul class="categories-list">
    {% for collection in section.settings.collections limit: section.settings.collections_to_show %}
      <a href="{{ collection.url }}" class="categories-item text-center">
        <li>
          <img src="{{ collection.image | img_url: '100x100' }}" alt="{{ collection.title }}">
          <span class="d-block pt-15">{{ collection.title }}</span>
        </li>
      </a>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Collection List Section",
  "tag": "div",
  "class": "categories-section",
  "settings": [
    {
      "type": "range",
      "id": "collections_to_show",
      "label": "Number of Collections to Display",
      "min": 1,
      "max": 9,
      "default": 8
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Select Collections"
    }
  ],
  "presets": [
    {
      "name": "Collection List Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
